/* @layer stories @kind style */

.type-table__specimen {
  display: block;
  color: var(--c-text);
  font-size: var(--text-lg);
}

.type-table__specimen--lineHeight {
  max-inline-size: 28ch;
  font-size: var(--text-base);
}

