/* @layer stories @kind style */
.side-nav-layout-story__frame {
  display: flex;
  height: var(--size-512);
  padding: var(--space-md);
}

.side-nav-layout-story__frame--narrow {
  max-width: var(--size-768);
}

.side-nav-layout-story__frame--phone {
  max-width: var(--size-384);
}

.side-nav-layout-story__state {
  display: flex;
  width: var(--size-768);
  max-width: 100%;
  height: var(--size-288);
}
