/* @layer renderer-components @kind style */
.data-table__resize {
  position: absolute;
  top: 0;
  right: calc(-1 * var(--space-sm));
  bottom: 0;
  width: var(--space-sm);
}

.data-table__header-cell--dragging .data-table__resize.resize-handle--line::after,
.data-table__header-cell--vacated .data-table__resize.resize-handle--line::after {
  background: transparent;
}
