/* @layer stories @kind style */

.button-demo__tight {
  inline-size: var(--size-224);
  padding: var(--space-sm);
  border: var(--border-width-thin) dashed var(--c-border);
  border-radius: var(--radius-md);
}
